
.cards {
    width: 360px;
    height: 360px;
    border: #8A8787 1px solid;
    margin-left: 150px;
    display: inline-block;
    vertical-align: top;
}

.cards-wrapper {
    margin-left: 150px;
}


.top-side {
    height: 190px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    position: relative;
}

.top-side img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-side p {
    position: absolute;
    top: 32px;
    left: 41px;
}


.bottom-side {
    height: 170px;
    padding-top: 68px;
    padding-left: 37px;
    font-size: 10px;
    color: #8A8787;
}

.bottom-side p {
    width: 230px;
    line-height: 20px;
}

.bottom-side img {
    vertical-align: middle;
}

.bottom-side span {
    vertical-align: middle;
}


.nav {
    display: flex;
    gap: 40px;
    align-items: center;
    padding: 15px;
    background: #f1f1f1;
    font-weight: 700;
    margin-left: 150px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 150px;
}

.title {
    font-size: 28px;
    font-weight: 700;
    padding: 30px 20px;
    margin-left: 150px;
}



.section-title {
    margin: 50px 0 20px 150px;
    font-size: 32px;
    font-weight: 700;
}

.happening-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 220px 180px 180px;
    max-width: 900px;
    margin: 0 auto 80px auto;
}


.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}


.large {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0,0,0,0.4);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}

.right-top {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.right-mid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.wide-bottom {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}


.right-bottom {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}



.footer {
  background-color: #1F2A39;      
  padding: 40px 20px;
  border-top: 4px solid #2196f3;   
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr auto;
  align-items: center;
  gap: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-column a {
  color: #c5c9d1;
  text-decoration: none;
  font-size: 13px;
}

.footer-column a:hover {
  color: white;
}

.footer-center {
  text-align: center;
  font-size: 12px;
  color: #d0d4db;
}

.footer-logo {
  text-align: right;
  color: white;
  font-size: 12px;
}

.footer-logo img {
  width: 28px;
  display: block;
  margin-left: auto;
}

